</div>
</div>

<script type="text/javascript">
$('.menu .browse')
.popup({
  inline     : true,
  hoverable  : true,
  position   : 'bottom left',
  delay: {
    show: 300,
    hide: 800
  }
})
;
</script>

</body>
</html>
