<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TV Series App</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.css">
    <link rel="stylesheet" href="/stylesheets/main.css">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.js" charset="utf-8"></script>
  </head>
  <body>

    <div class="ui container">
    <div class="ui menu">
      <a class="browse item">
        <i class="sidebar icon"></i>
        My Tv App
      </a>
        <div class="ui vertical menu popup bottom left transition hidden">
          <div class="item">
            <div class="header">Series</div>
            <div class="menu">
              <a href="/series" class="item">Home</a>
              <a href="/series/schedule" class="item">Schedule</a>
            </div>
          </div>
          <!-- <div class="item">
            <div class="header">CMS Solutions</div>
            <div class="menu">
              <a class="item">Rails</a>
              <a class="item">Python</a>
              <a class="item">PHP</a>
            </div>
          </div> -->
          <div class="item menu-login-buttons">
            <div class="ui fluid buttons">
              <button class="ui blue button">Login</button>
              <div class="or"></div>
              <button class="ui teal button">Sign Up</button>
            </div>
          </div>
        </div>

        <form id="searchForm" action="/series/results" method="get">
          <div id="search" class="ui category search item">
            <div class="ui transparent icon input">
              <input class="prompt" name="search" type="text" placeholder="Search TV Series...">
              <i class="search link icon"></i>
            </div>
          </div>
        </form>

    </div>
    </div>

<div class="ui content container">
