body{


  background: #E0EAFC; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #E0EAFC , #CFDEF3); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #E0EAFC , #CFDEF3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.ui.cards > .card, .ui.table, .ui.segment{
      background: rgba(255,255,255,0.5);
}

 /*.ui.menu:not(.vertical) .left.menu{
   background: rgba(255,255,255,0.95);
 }*/

.container.content{
  margin-top: 5em;
}

.schedule.ui.celled.table tr td:first-child{
  padding: 0;
}

.ui.vertical.menu .item.menu-login-buttons{
  padding-left: 0;
  padding-right: 0;
}

#search:before{
  width: 0;
}

#search{
  width: 100%;
  margin-top: 0.3em;
}

#searchForm{
width: 100%;
}
